version: "3.7"

services:
  db:
    image: mongo:4.4
    ports: 
      - 27029:27017
    volumes:
      - ../db/data:/data/db
    environment: 
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
  api:
    build: 
      context: ./src
    volumes:
      - /home/bow-code/content:/data/content
    ports: 
      - 8089:8088
    environment:
      DB_URL: mongodb://root:root@db:27019
      SELF_URL: https://bow-code.ntu.im/api-server-dev
      JUDGE0_URL: https://bow-code.ntu.im/judge0
      DOCS_PATH: /data/content
      PORT: 8089
      SESSION_KEY: pekora
      GOOGLE_CLIENT_ID: 125021518011-3omjnghuvlrmv64tb45v380bo0j1iu20.apps.googleusercontent.com
